<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo1.png" alt="logoCeroUno" class="card-img-top mx-auto m-2 rounded-circle w-50">
                     <form action="/register" method="POST" class="row g-3">
                        <div class="form-group col-md-12">
                            <input type="text" name="username" placeholder="usuario" class="form-control" autofocus required="required">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="password" name="password" placeholder="contraseña" class="form-control" required="required">
                        </div>
                        <div class="form-group d-grid gap-2">
                            <button class="btn btn-success btn-block">
                                Aceptar
                            </button>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>