<div class="container p-4">
    <table class="table table-hover table-sm caption-top align-middle">
         <div class="caption">
             <h3>Lista de usuarios</h3>
         </div>
         <thead>
             <tr>
                 <th scope="col">ID</th>
                 <th scope="col">username</th>
                 <th scope="col">password</th>
             </tr>
         </thead>
         <tbody>
             {{#each user}}
             <tr>
                 <th scope="row">{{idUsers}}</th>
                 <td>{{username}}</td>
                 <td>{{password}}</td>
                 <td>
                     <div class="btn-group" role="group" aria-label="Basic mixed styles example">                    
                     <a href="/deleteUser/{{idUsers}}" class="btn btn-danger">Eliminar</a>
                 </div>
                 </td>
             </tr>
             {{else}}
             <div class="col-md-4 mx-auto">
                 <div class="card card-body text-center">
                     <h4>No hay usuarios registrados.</h4>                   
                 </div>
             </div>
             {{/each}}
         </tbody>
     </table>
     <a role="button" class="btn btn-primary btn-lg" href="/register">Agregar usuario</a>