<div class="container w-50">
  <form class="row" action="/add" method="POST">
    <legend>Datos del alumno</legend>
    <div class="input-group mb-3">
      <span class="input-group-text">Apellido y Nombres</span>
      <input
        type="text"
        class="form-control"
        placeholder="Pérez"
        name="apellido"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Juan"
        name="nombre"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Lugar de nacimiento</span>
      <input
        type="text"
        class="form-control"
        placeholder="Río Gallegos, Santa Cruz"
        aria-label="nacimiento"
        name="lugarNacimiento"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">DNI</span>
      <input
        type="number"
        class="form-control"
        placeholder="99.999.999"
        aria-label="Username"
        name="documento"
      />
      <span class="input-group-text">Nacimiento</span>
      <input
        type="date"
        class="form-control"
        placeholder="12/04/2009"
        aria-label="nacimiento"
        name="nacimiento"
      />
      <span class="input-group-text">Curso</span>
      <select class="form-select" name="curso">
        <option selected>seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <span class="input-group-text">Año</span>
      <select class="form-select" name="division">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
      </select>
    </div>
    <legend>Libro Matriz y Legajo</legend>
    <div class="input-group mb-3">
      <span class="input-group-text">Libro</span>
      <input type="number" class="form-control" 
      name="numeroLibro" min="1" max="260" />
      <span class="input-group-text">Folio</span>
      <input
        type="number"
        class="form-control"
        name="folioLibro"
        min="1"
        max="260"
      />
      <span class="input-group-text">Legajo</span>
      <input type="number" class="form-control" name="numeroLegajo" />
      <span class="input-group-text">Año</span>
      <input type="number" class="form-control" name="anioLegajo" />
    </div>
    <legend>Historial</legend>
    <div class="input-group mb-3">
      <span class="input-group-text">Colegio de origen</span>
      <input
        type="text"
        class="form-control"
        placeholder="CPES N°37"
        name="colegioOrigen"
      />
      <span class="input-group-text">Fecha de Ingreso</span>
      <input
        type="date"
        class="form-control"
        placeholder="dd/mm/yyyy"
        name="ingreso"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Colegio de Destino</span>
      <input
        type="text"
        class="form-control"
        placeholder="Domingo Savio"
        name="colegioDestino"
      />
      <span class="input-group-text">Fecha de salida</span>
      <input
        type="date"
        class="form-control"
        placeholder="dd/mm/yyyy"
        name="fechaSalida"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Situación</span>
      <input type="text" class="form-control" name="situacion" />
      <span class="input-group-text">Fecha de egreso</span>
      <input
        type="date"
        class="form-control"
        placeholder="dd/mm/yyyy"
        name="fechaEgreso"
      />
    </div>
    <div class="mb-3">
      <legend>Observaciones</legend>
      <textarea class="form-control" name="observaciones" rows="3"></textarea>
    </div>
    <div class="form-group d-grid gap-2">
      <button class="btn btn-primary">Agregar alumno</button>
    </div>
  </form>
</div>
