<div class="container w-75">
    <div class="card card-body">
        <h1>Acerca de...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis, sed atque qui cum, minus officia quod
        libero porro suscipit rem optio assumenda dolores commodi tempore facere repellendus vero sint numquam praesentium
        quaerat sapiente animi iusto natus. Deleniti voluptas molestiae repudiandae recusandae totam temporibus itaque, dolore,
        nihil alias, eaque ipsa?</p>
    </div>

</div>