<div class="container w-75">
    <div class="card card-body">
        <h1>Acerca de...</h1>
    <p>Este proyecto sobre ABM (Alta/Baja/Modificación) está llevado adelante con herramientas de Boostrap 5, JavaScript, NodeJs, Express, EJS, MongoDB</p>
    </div>
</div>