<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="../public/images/logo2.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle w-25">
            <h1 class="mb-1">Normal N°1 - Puerto Loyola</h1>
            <h3 class="mb-5">
                <em>Sistema de registro de Alumnos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Loguearse</a>
            <a class="btn btn-secondary btn-lg" href="/register" role="button">Registrarse</a>          
        </div>
        <div class="overlay"></div>
    </header>
</main>