<div class="container">

    <h2 style="text-align: center;">Formulario de ingreso de alumnos</h2>
    <link rel="stylesheet" href="../../public/css/misestilos.css">
    <form action="/url-where-you-want-to-submit-form-data">
        <fieldset>
            <legend>Datos del alumno</legend>
            <label for="nombreAlumno">Nombre</label>
            <input class="texto" type="text" placeholder="Nombre" id="nombreAlumno" requied>
            <label for="apellidoAlumno">Apellido</label>
            <input class="texto" type="text" placeholder="Apellido" id="apellidoAlumno" required><br><br>
            <label for="documentoAlumno">Documento</label>
            <input class="texto datos" type="tel" placeholder="DNI" id="documentoAlumno" maxlength="8" required>
            <label for="nacimientoAlumno">Fecha de nacimiento</label>
            <input class="texto" type="date" id="nacimientoAlumno" required>
            <br><br>
            <label for="lugarAlumno">Lugar de nacimiento</label>
            <input class="texto" type="tel" id="lugarAlumno">
            <label for="direccionAlumno">Dirección</label>
            <input class="texto" type="tel" id="direccionAlumno"><br><br>
            <label for="telefonoAlumno">Teléfono</label>
            <input class="texto datos" type="tel" id="telefonoAlumno">
            <label for="emailAlumno">Email</label>
            <input class="texto" type="email" id="emailAlumno">

        </fieldset>
        <br>
        <fieldset>
            <legend>Ingreso</legend>
            <label for="fechaIngreso">Fecha de Ingreso</label>
            <input class="texto" type="date" id="fechaIngreso">
            <label for="colegioOrigen">Colegio de origen</label>
            <input class="texto" type="text" id="colegioOrigen"><br><br>
            <label for=curso>Año</label>
            <select name="RAC2021">
                <option value="1">1°</option>
                <option value="2">2°</option>
                <option value="3">3°</option>
                <option value="4">4°</option>
                <option value="5">5°</option>
            </select>
            <label for=curso>División</label>
            <select name="RAC2021">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
            </select>
            <label for="libro">Libro</label>
            <input class="matriz texto" type="text" id=libro maxlength="2">
            <label for="folio">Folio</label>
            <input class="matriz texto" type="text" id=folio maxlength="2">
        </fieldset>
        <br>
        <fieldset>
            <legend>Datos de contacto</legend>
            <fieldset>
                <legend>Padre o Tutor</legend>
                <label for="apellidoPadre">Apellido</label>
                <input class="texto" type="text" id=apellidoPadre>
                <label for="nombrePadre">Nombre</label>
                <input class="texto" type="text" id=nombrePadre> <br><br>
                <label for="documentoPadre">Documento</label>
                <input class="texto datos" type="tel" maxlength="8" id="documentoPadre">
                <label for="telefonoPadre">Teléfono</label>
                <input class="texto datos" type="tel" id="telefonoPadre">
                <label for="direccionPadre">Dirección</label>
                <input class="texto" type="tel" id="direccionPadre">
            </fieldset>
            <br>
            <fieldset>
                <legend>Madre o Tutora</legend>
                <label for="apellidoMadre">Apellido</label>
                <input class="texto" type="text" id=apellidoMadre>
                <label for="nombreMadre">Nombre</label>
                <input class="texto" type="text" id=nombreMadre> <br><br>
                <label for="documentoMadre">Documento</label>
                <input class="texto datos" type="tel" maxlength="8" id="documentoMadre">
                <label for="telefonoMadre">Teléfono</label>
                <input class="texto datos" type="tel" id="telefonoMadre">
                <label for="direccionMadre">Dirección</label>
                <input class="texto" type="tel" id="direccionMadre">
            </fieldset>
            <br>
            <fieldset>
                <legend>Hermano o Hermana</legend>
                <label for="apellidoHermano">Apellido</label>
                <input class="texto" type="text" id=apellidoHermano>
                <label for="nombreHermano">Nombre</label>
                <input class="texto" type="text" id=nombreHermano><br><br>
                <label for="documentoHermano">Documento</label>
                <input class="texto datos" type="tel" maxlength="8" id="documentoHermano">
                <label for="telefonoHermano">Teléfono</label>
                <input class="texto datos" type="tel" id="telefonoHermano">
                <label for="direccionHermano">Dirección</label>
                <input class="texto" type="tel" id="direccionHermano">
            </fieldset>
        </fieldset>

        <br>
        <button type="reset">Limpiar datos</button>
        <button type="submit">Grabar alumno</button>

    </form>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
</div>